body {
	text-align: center;
	font-family: 'Tangerine', serif;
	font-size:16px;
}
h1, h3 {
	text-decoration: underline;
	text-transform: uppercase;
	font-family: 'Righteous', cursive;
}
#second {
	font-weight: bold;
}
h1 {
	font-size:3em;
}
h3 {
	font-size: 1.5em;
	font-weight: normal;
}

p {
	font-family: 'Righteous', cursive;
}

.important {
	font-size: 18px;
}
a {
	font-style: italic;
	text-decoration: none;
}
:selection {
	background:purple;
}
.cta {
	background:#E91E63;
	color:#fff;
	display:inline-block;
	padding:1em 2em;
}
body {
  background: #333;
}

div {
  background: #c0dec5;
  margin: 4em;
}


p {
	font-family: georgia, serif;
	font-size: 20px;
	line-height: 1.4em;
}
