body {
	text-align: center;
}
h1, h3 {
	font-family: 'Righteous', cursive;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
	font-family: 'Righteous', cursive;
}


h1 {
	font-weight: bold;
	font-family: 'Righteous', cursive;

}

#second {
	font-weight: bold;
}

h3 {
	font-size: 24px;
}

p {
	font-family: 'Righteous', cursive;
}

.important {
	font-size: 18px}
}
a {
	font-style: italic;
	text-decoration: none;
}